$green: #28e7a8;
$gray: #373737;

$heading-dark: lighten($gray, 10);
$heading-light: lighten($gray, 70);
$paragraph-text: lighten($gray, 30);

$background-light: lighten($gray, 80);
$background-dark: $gray;

$font-family: "Raleway", sans-serif;
